.fZMdKK , .NGfdO , .cmvlLP , .BMryA , .eeNMMj, .hqHtPN, .jYRcKw, .kCDmow, .hskyvr, th{
    background: #003C90 !important;
}
body{
    background-color:white;
}
.gbwUkf p{
    font-size:20px;
}
.hvXhgD, .dpwHGH {
    font-size: 30px !important;
}

body h1,h2,h3{
    font-family: 'Poppins', sans-serif !important;
}
body p, span{
    font-family: sans-serif !important;
    line-height: 1.5 !important;
    font-size: 14px !important;
}
.box{
    border:1px solid lightgrey;border-radius:5px;
    width:30%;text-align:center;
    font-size:25px;
    padding:20px 10px;
    margin-bottom:30px;
    box-shadow:2px 2px 2px white;   
}

.main-sub{
    display: flex;
    align-items:stretch;
}

.sub{
    border:0px solid grey;
    border-radius:10px;
    padding:10px 25px;
    margin:20px;
    width:50%;
    background-color: white;
    text-align: center;
    box-shadow: 1px 5px 20px #0000000d;
}
.sub .box{
    width:100%;
}

.cSOVya{
    border-top:1px solid black !important;
    color:#D5E6FC !important;
    line-height: 0px !important;
    width:100% !important;
    padding:0px !important;
    margin-left: 0px !important;
} 
.lcljdh{
    background-color: #002E88 !important;  
}
.main-link{
    color:white;
}

.ieiETB h2{
    margin-bottom: 1em !important;
}
.lcljdh h3, .bqaPJS, .bLdCdi{
    color:#fff !important;
}
.ok{
    text-decoration: none;
    text-align: center;
    width: auto;
    outline: none;
    border-radius: 4px;
    font-weight: 600;
    line-height: 1;
    font-family: inherit;
    box-shadow: none;
    background-color: transparent;
    border: 2px solid #E4E7EB;
    color: #E4E7EB;
    padding: 20px 24px;
    min-width: 200px;
    font-size: 30px;
}
.YALGX{
    color:#fff !important;
    text-align: justify !important;
    font-family: sans-serif !important;
    text-align: justify !important;
    line-height: 1.5;
    font-size: 14px !important;
}
.lcljdh span{
    color:white;
    font-family: sans-serif !important;
    text-align: justify !important;
   
}


.box p{margin:0;}
.box p a{line-height:36px;}

h1 span{
    color:black;
}

.main{
    display:flex;
    align-items:stretch;
}
.main .box{
    width:100%;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content:center;
}
.main .box p{
    padding-bottom:20px;
}   
ol li{
    font-size:20px;
}
